.sale_btn{
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(235, 235, 235);
    font-size: 12px !important;
    font-weight: 600 !important;
}
.sale_btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid #1e3e74;

}
.w_25{
    width: 25% !important;
}
.w_50{
    width: 50% !important;
}
@media only screen and (max-width:600px) {
    .w_25{
        width: 100% !important;
    } 
    .w_50{
        width: 100% !important;
    } 
}
#lable{
    display: inline-block;
    background-color: rgb(96, 96, 96) !important;
    color: white;
    padding: 0.5rem;
   font-size: 14px !important;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }